<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bogle game</title>
</head>
<body>
    <section class="board">
        <table>
            <tbody>
                {% for row in board %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </br>
    </section>
    {% block content %}{% endblock %}

    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="{{ url_for('static', filename='boggle.js') }}"></script>
</body>
</html>